
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
  
        <br>
        <p> Hello la vue: " Index "  avec " id = UrlParameter.Optional "  </p> 

        </div>
    </body>
    </html>
