
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NonTrouver</title>
</head>
<body>
    <div> 
        <h2> Désoler nous n'avons pas <span style="color:red"> @ViewData["Nom"] </span> dans la liste de nos clients</h2>
    </div>
</body>
</html>
